/*La hoja de estilos siempre ataca a las etiquetas o clases*/
/*body{ background-color: chartreuse;}*/
/*para estandarizar , a todo el docuemento darle un padding de 0 y margin 0*/
*{

    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
   /* background-color: rgb(236, 236, 236);*/
    /**Estrandarizar el tipo de fuente de la clase/
    /*Si no encuentra verdana intenta poner geneva*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header.cabeceraPrincipal {
    background-color: darkgreen;
    color: #ffffff;
    width: 90%;
    margin: 0 auto;
    border-bottom: 5px solid #000000;
    padding-top: 2em;

}
main{
    width: 90%;
    margin: 0 auto;
    background-color: rgb(231, 230, 231);
}
main section.contenedor{padding: 1em;}

header.cabeceraPrincipal img {
    max-width: 100%;
    display: inline-block;
    /* arriba y abajho tenga 1em y a los lados 1em*/
    padding: 1em 1em;
    vertical-align: top;
    background: -webkit-linear-gradient(90deg, rgb(241, 241, 21) 10%, rgb(163, 172, 87) 90%);
}

header.cabeceraPrincipal h1 {
    /*Tamanio de la fuente*/
    
    font-size: 1em;
    padding: 3em;
    width: 60%;
    display: inline-block;
    /* Una sombra*/
    text-shadow: rgb(32, 32, 32)2px 2px 1px;
}
nav.menuPrincipal, .sliderPrincipal, .modulosPrincipales,
.piePag {
    width: 90%;
    background-color: #000000;
    margin: 0 auto;
    text-align: center;
    padding-top: 2em;  

}

nav.menuPrincipal a {
    
    color:#ffffff;
    padding: 6px 30px;
    text-decoration: none;
}
/*para definir un estilo cuando el raton pasa sobre el enlace*/
nav.menuPrincipal a:hover {
    background-color: rgb(92, 221, 92);
    color: rgb(14, 82, 40)
}

section.sliderPrincipal {
    background-color: rgb(94, 90, 87);
}

.servicios{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color:red;
}

.servicios article.noticias{
    width: 30%;
    display: inline-block;
}

.servicios article.noticias h3{
    font-size: 2em;
    padding: 1em 0 0 0;
    color: rgb(4, 146, 146);
}

.servicios article.noticias p{
    text-align: justify;
    padding: 1em 1em;
    font-size: 0.9em;
    color: rgb(58, 59, 58);
}

.piePag{
    width: 100%;
    background-color: rgb(31, 32, 32);
    color: rgb(96, 97, 99);
    text-align: center;
    height: 50px;
}

.piePag h6{
    padding: 2em 0;

}

/*un mediaquery son como condicionales, el siguiente solo va a ser cundod etecte la resolucion del tama;o*/
/* cuando la resolucion sea de 500px*/
@media only screen and (max-width: 750px) {
    header.cabeceraPrincipal {

        width: 100%;
        margin: 0 auto;
        border-bottom: 1px solid #000000;

    }

    header.cabeceraPrincipal img {
        max-width: 100%;
        display: inline-block;
        /* arriba y abajho tenga 1em y a los lados 1em*/
        padding: 0.5em 0.5em;
        vertical-align: top;
    }

    header.cabeceraPrincipal h1 {

        font-size: 1em;
        padding: 1em;
        width: 50%;
        display: inline-block;
        text-shadow: rgb(32, 32, 32)2px 2px 1px;
    }
}

@media only screen and (max-width: 500px) {

    header.cabeceraPrincipal {
        text-align: center;
    }

    header.cabeceraPrincipal h1 {

        font-size: 1em;
        padding: 1em;
        width: 100%;
        display: block;
        text-shadow: rgb(32, 32, 32)2px 2px 1px;
    }

    nav.menuPrincipal {
        height: 150px;
    }

    nav.menuPrincipal a {
        color: white;
        padding: 6px 30px;
        display: block;
        background-color: rgb(69, 77, 72);
    }

    .servicios article.noticias {
        width: 90%;
        display: block;
        margin: 0 auto;
    }
}